@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="POST" name="aForm">

<textarea asp-for="Messages"  rows=6 cols="20">
    this is content
</textarea>
    <input type="submit" value="Submit">

</form>

TextArea Content Should show:<br/>

@Model.Messages


